@charset "UTF-8";


svg {
	width: 16;
    height: 16;
    fill: currentcolor;
}

img {
	border-style: none;	
}

.in-path {
    display: inline-block;
}

.star-rating {
	display: flex;
    justify-content: center;
}

.star-ratings {
	position: relative;
	box-sizing: border-box;
	display: inline-block;
}

.share-img {
	width: 20px !important;
    height: 20px !important;
}

.share-setting {
	display: inline-block;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizelegibility;
    color: rgb(85, 89, 105);
}

.share-button {
	outline: none;
    box-sizing: border-box;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    font-size: 14px;
    padding: 0px 16px;
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 52, 65);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    min-width: unset;
    border: 0px;
}