@charset "UTF-8";

* {
    font-family: 'Metro Sans',sans-serif;
    box-sizing: border-box;
}

.css-dka9py {
    outline: none;
    flex: 1 1 0%;
    width: 100%;
    background-image: none;
    box-sizing: border-box;
    font-size: inherit;
    border: none;
    font-weight: inherit;
    background-color: transparent;
    text-align: left;
    color: inherit;
}

.css-aah4od {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.css-3c8icb .suffix-wrapper {
    padding-left: 7px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex-basis: auto;
}

.css-kknodv {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.css-1aa5eup {
    margin: 0px 16px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 344px;
    position: relative;
    font-size: 14px;
}