@charset "UTF-8";

input:focus {outline:none;}

* {
	font-family: NanumSquareAcb';
}

body {
    margin: 0;
}

a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}

li {
    list-style: none;
}


hedaer{

}


.header{
	position: sticky;
	top: 0;
	border-bottom: 1px solid #e4e5ed;
	z-index:1;
}


.top-header{
	font-family: 'NanumSquareAcb';
	font-size: 16px;
	text-decoration: none solid rgb(0, 0, 0);
	word-spacing: 0px;
	
	background-color: #ffffff;
	background: 0% 0%;
	color : #000000;

	
	height: 74px;
	width: 1200px;
	margin: 0 auto;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;	
}

.top-header-logo{
	font-family: 'NanumSquareAcb';
	font-size: 16px;
	text-decoration: none solid rgb(0, 0, 238);
	word-spacing: 0px;
	
	background-color: #ffffff;
	background: 0% 0%;
	color : #0000EE;
	
	height: 100%;
	width: 85px;
	
	display: inline;
	
	overflow: hidden;
	cursor: pointer;
	box-sizing: border-box;
}

.top-header-input-form{
	font-family: 'NanumSquareAcb';
    box-sizing: border-box;
	margin: 0 0 0 500px;
	display: flex;
	justify-content: center;
	align-self: flex;
	width: 100%;
	max-width: 344px;
	position: relative;
	font-size: 14px;
}


.top-header-input-wrapper{
	font-family: 'NanumSquareAcb';
	font-size: 14px;
	text-decoration: none solid rgb(48, 52, 65);
	word-spacing: 0px;
	
	background-color: #ffffff;
	background: 0% 0%;
	color : #303441;
	
	height: 42px;
	width: 345px;
	border: 1px solid #303441;
	border-radius: 500px;
	padding: 0 12px 0 12px;
	min-height: auto;
	min-width: 64px;
	
	display: flex;
	
	overflow: hidden;
	cursor: text;
}


.top-header-input{
	font-family: 'NanumSquareAcb';
	font-size: 15px;
	text-align: left;
	border: 0px;
	word-spacing: 0px;
	
	background-color: #ffffff;
	background: 0% 0%;
	color : #303441;
	outline: none;
	
	height: 40px;
	width: 290px;
	padding: 1 2px 1 2px;
	min-height: auto;
	min-width: auto;
	
	display: block;
	cursor: text;
	
}

.magnifier-wrapper{
	background-color: #FFFFFF;
	background: 0% 0%;
	color: #303441;
	
	height: 40px;
	width: 27px;
	padding: 0 0 0 7px;
	min-height: auto;
	min-width: auto;
	
	display: flex;
	padding-left: 7px;
	justify-content: flex-end;
	align-items: center;
	flex-basis: auto;
	cursor: pointer;
}

.magnifier{
	background-color: #FFFFFF;
	background: 0% 0%;
	color: #303441;
	
	height: 20px;
	width: 20px;
	
	display: inline-block;
	
	overflow: hidden;
	cursor: cursor;
}

.top-header-menu-wrapper{
	background-color: #FFFFFF;
	background: 0% 0%;
	color: #000000;
	
	height: 43px;
	width: 249px;
	min-height: auto;
	min-width: auto;
	
	display: flex;
}


.top-header-menu{
	
	font-family: 'NanumSquareAcb';
	font-size: 15px;
	font-weight: 500;
	line-height: 15px;
	text-decoration: none solid rgb(48, 52, 65);
	white-space: nowrap;
	word-spacing: 0px;
	
	
	background-color: #FFFFFF;
	background: 0% 0%;
	color: #303441;
	
	height: 42px;
	width: 87px;
	border: 1px solid #FFFFFF;
	margin: 0 4px 0 0;
	padding: 0 22px 0 22px;
	min-height: auto;
	max-width: 100%;
	min-width: 64px;
	margin: 0 auto;
	
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	
	cursor: pointer;
	
	border: 4px;
}

.top-header-user{
	width: 32px;
    height: 32px;
    background-color: rgb(228, 229, 237);
    position: relative;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 5px;
}

.top-header-user img {
        display: block;
        margin: 0 auto;
    }

/* ----------------------------------------------------- */
/* 헤더바 */

.header-bar {
   display: block;
   min-height: 48px;
   z-index: 20;
   
   height: 74px;
   width: 1200px;
   margin: 0 auto;
   
   display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;	
}

.header-bar-category-wrapper{
	display: flex;
	justify-content: center;
	height: 48px;
	position: relative;
	align-items: center;
}

.header-bar-category{
	font-family: 'NanumSquareAcb';
	font-size: 16px;
	font-weight: 700;
	text-decoration: none solid rgb(48, 52, 65);
	text-align: center;
	word-spacing: 0px;
	
	
	color: #303441;
	background-color: #ffffff;
	background: 0% 0%;
	
	height: 26px;
	width: 154px;
	padding: 1px 6px 1px 6px;
	min-height: auto;
	min-width: auto;

	display: flex;
	align-items: center;
	cursor: pointer;
	border: 0;
	outline: none;
	overflow: visible;
	margin: 0;
}



.header-bar-nav{
	margin: 0 275px 0 0;
}


.header-bar-nav-content-wrapper{	
	font-family: 'NanumSquareAcb';
	font-size: 16px;
	text-decoration: none solid rgb(0, 0, 0);
	word-spacing: 0px;
	background-color: #ffffff;
	background: 0% 0%;
	color: #000000;
	height: 48px;
	width: 370px;
	display: flex;
	list-style-type: none;
	list-style-position: outside;
	
	padding: 0;
	margin: 0;
}

.header-bar-category-hamberger{
	width: 24px;
	height: 24px;
}


.header-bar-nav-content{
	font-size: 16px;
	text-decoration: none solid rgb(0, 0, 0);
	text-align: center;
	word-spacing: 0px;
	
	background-color: #ffffff;
	background: 0% 0%;
	color: #000000;
	
	height: 48px;
	width: 88px;
	margin: 0 0 0 25px;
	min-height: auto;
	min-width: auto;
	
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.header-bar-nav-content a {
	text-decoration: none;
    color: #000000;
}

.header-bar-rightside{
	font-family: 'NanumSquareAcr';
	margin: 0px 0px 0px auto;
}


.buyer-requests{
	display: flex;
	width: 1170px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px !important;
}

.buyer-requests .side-menu-wrapper{
	flex-basis: 300px;
	margin-right: 25px;
}

.mykmong-side-menu{
	min-height: 800px;
}

.mykmong-side-menu .userprofile-info-wrapper{
	display: flex;
    flex-direction: column;
    align-items: center;
}


.userprofile-picture{
	font-family: 'NanumSquareAcr';
	text-decoration: none;
    color: #4d4d4d;
}

.thumbnail-wrapper{
	position: relative;
}

.thumbnail-pictrue img{
	border-radius: 50%;
    background-color: #e4e5ed;
}

.img-responsive{
	display: block;
    max-width: 100%;
    height: auto;
}


.thumbnail-tag{
	font-family: 'NanumSquareAcb';
	padding: 2px 5px;
    border-radius: 4px;
    font-size: 12px;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffd400;
}


.side-menu-title-wrapper{
	font-family: 'NanumSquareAcb';
	color: #333;
    font-size: 19px;
    margin-bottom: 18px;
}

.mykmong-side-menu .guide-line{
	height: 2px;
	background-color: #333;
}

.username-wrapper{
	margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
}


.change-button-wrapper{
	padding: 20px 30px 30px;
	width: 240px;
}

.change-button{
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 2px;
	border-radius: 40px !important;
	font-size: 13px;
	line-height: 2.77;
	
	color: #fff;
	background-color: #27314c;
	border-color: #27314c;
	
	font-family: 'NanumSquareAcr';
}


.menu-list-wrapper{
	margin: 15px 30px;
}


.side-menu-main-group{
	padding: 0;
}

.main-menu{
	line-height: 36px;
    list-style: none;
    margin: 0;
    border: inherit;
    background-color: inherit;
    border-radius: inherit;
}

.flex-between-center{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-between-center a{
	font-family: 'NanumSquareAcb';
	font-weight: 500;
	font-size: 14px;
	color: #222;
}

.menu-list-wrapper .side-menu-main-group .main-menu .flex-between-center a[aria-expanded='true'] .flex .arrow {
	transform: rotate(-90deg);
    color: #f26656;
}



.menu-list-wrapper .side-menu-main-group .main-menu .flex-between-center a .flex .arrow {
	transform: rotate(90deg);
    transition: all 0.4s ease;
    color: #ccc;
}



.arrow{
	font-family: kmong-icon-font!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.arrow:before{
	content: '\e906';
}

.panel-body{
	margin: 5px 0;
	padding: 10px 30px;
	background-color: #f3f4f8;
	border-radius: 4px;
}

.sub-menu{
	line-height: 30px;
}

.sub-menu a{
	font-family: 'NanumSquareAcb';
	font-size: 13px;
	color: #999;
}

.sub-menu a span{
	
}


.content-wrapper{
	flex: 1;
}

.title-wrapper{
	font-family: 'NanumSquareAceb';
	font-size: 18px;
    font-weight: 700;
    color: #303441;
    margin-bottom: 16px;
}


.empty-list{
	height: 414px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e4e5ed;
    padding: 65px 60px 60px;
}


.empty-list-text{
	font-family: 'NanumSquareAcr';
	color: #c8cad2;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 180%;
}

.empty-list-button{
	font-family: 'NanumSquareAcb';
	
	font-size: 16px;
    font-weight: 500;
    padding: 14px 0;
    line-height: 24px;
    border: none;
    
    border-radius: 4px !important;
    
    color: #303441;
    background-color: #ffd400;
    border-color: #ffd400;
}



/* ------------------------------------------------------------------------------------ */
/* footer */

footer hr{
	height: 1px;
    margin: 0;
    border: none;
    background-color: rgb(0 0 0 / 12%);
}


.footer-menu-wrapper{
	width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    position: relative;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
}

.footer-menu-nav{
	padding-top: 32px;
    padding-bottom: 16px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-menu-content-wrapper{
	font-family: 'NanumSquareAcr';
	padding-left: 16px;
	padding-right: 16px;
	flex: auto;
}

.footer-menu-content-wrapper ul{
	margin: 0;
    padding: 0;
}

.footer-menu-content-wrapper a{
	color: #97A1B6;
}



.footer-menu-content-wrapper li{
	color: #97A1B6;
	margin:0;
	padding: 0;
}

.footer-menu-content-title{
	font-family: 'NanumSquareAceb';
	font-size: 16px;
    font-weight: bold;
    margin: 0 0 8px 0;
    line-height: 1.5;
    letter-spacing: -0.34px;
}

.footer-menu-content-time{
	font-size: 13px;
    line-height: 2;
    letter-spacing: -0.28px;
    color: #9a9ba7;
    margin: 0;
}

.footer-menue-content-inquiry{
	outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s,border-color 0.3s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    height: 36px;
    font-size: 14px;
    padding: 0 16px;
    min-width: 64px;
    background-color: #fff;
    border-color: #e4e5ed;
    color: #303441;
    margin-top: 16px;
    border: 1px solid #555969;   
}


.footer-menue-content-inquiry span{
	line-height: 1;
	font-weight: 500;
	cursor: pointer;
	user-select: none;
    white-space: nowrap;
    font-size: 14px;
    color: #303441;
}

.footer-store-wrapper{
	display:flex;
	justify-content: flex-end;
	padding: 16px 128px;
}

.footer-store{
	margin-right: 10px;
}

.footer-store a{
	outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    
    transition: background-color 0.3s,border-color 0.3s;
        
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    
    max-width: 100%;
    height: 42px;
    font-size: 15px;
    padding: 0 22px;
    min-width: 64px;
    background-color: #fff;
    border-color: #e4e5ed;
    color: #303441;
    border: 1px solid #303441;
}

.footer-store-etc{
	line-height: 1;
	font-weight: 500;
	cursor: pointer;
	user-select: none;
    white-space: nowrap;
    font-size: 15px;
    color: #303441;
}


.footer-store img{
	line-height: 1;
	font-weight: 500;
	cursor: pointer;
	user-select: none;
    white-space: nowrap;
    font-size: 15px;
    color: #303441;
}

.footer-store-icon-wrapper{
	line-height: 1;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    font-size: 15px;
    color: #303441;
}



.block{
	display:block;
}

.flex{
	display:flex;
}














